<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.library.mapper.BorrowRecordMapper">
    <sql id="conditions">
        <where>
            <if test="userId != null">AND br.user_id = #{userId}</if>
            <if test="status != null">AND br.status = #{status}</if>
            <if test="bookTitle != null and bookTitle != ''">
                AND b.title LIKE CONCAT('%', #{bookTitle}, '%')
            </if>
        </where>
    </sql>

    <select id="selectByCondition" resultType="com.library.model.vo.BorrowRecordVO">
        SELECT br.id AS record_id, br.book_id, b.title AS book_title,
               br.user_id, u.username, br.borrow_time, br.due_time,
               br.return_time, br.status
        FROM borrow_records br
        INNER JOIN books b ON b.id = br.book_id
        INNER JOIN users u ON u.id = br.user_id
        <include refid="conditions"/>
        ORDER BY br.borrow_time DESC, br.id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countByCondition" resultType="long">
        SELECT COUNT(*)
        FROM borrow_records br
        INNER JOIN books b ON b.id = br.book_id
        <include refid="conditions"/>
    </select>
</mapper>
